@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/views/Shared/LandingLayout.cshtml";
}
<div class="">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">


            <div class="carousel-item active">
                <div class="card bg-dark ">
                    <img class="card-img" src="~/images/content.jpg" alt="Card image" height="500px">
                    <div class="card-img-overlay text-light d-flex  flex-column justify-content-center mt-lg-3">
                        <div class="  d-flex   justify-content-center    mb-5  ">
                            <h1 class="">CONTACT US</h1>

                        </div>
                        <div class=" d-flex   justify-content-center text-light mt-3 mb-5 ">
                            <table class=" d-flex   justify-content-center ml-4 " style="width: 500px;height: 130px;">
                                <tr style="height: 40px;">
                                    <td><i class="fas fa-globe"></i></td>
                                    <td><b>Web Site </b><a href="https://www.webletscript.com/" target="_blank">Webletscript.com</a></td>


                                </tr>
                                <tr style="height: 40px;">
                                    <td><i class="fas fa-mailbox"></i></td>
                                    <td><b>P.O Box </b> 1114-50400 ,Busia ,Kenya</td>

                                </tr>
                                <tr style="height: 40px;">
                                    <td><i class="fa fa-phone" aria-hidden="true"></i></td>
                                    <td>
                                        <b>Phone No: +254713699397</b>
                                    </td>
                                </tr>
                                <tr style="height: 40px;">
                                    <td><i class="fas fa-envelope-square"></i></td>
                                    <td><b> Email: </b><a>odongooduor79@gmail.com</a> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>





        </div>

    </div>


</div>

<div class="jumbotron">
    <div class="container">

    </div>
</div>
