@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <style>
        .footer {
            padding:0rem 0rem 0rem;
            padding-right:10px;
            padding-left:10px;
        }
    </style>
</head>
<footer class="footer">

    <div style="margin-top:10px; height:30px">
        <div class=" ">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block" style="font-size:medium;"> Copyright © @DateTime.Today.Year <b>  WEBLETSCRIPT</b> All rights reserved.</span>

            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">

                    <img src="~/images/facebook.png"  width="20" onclick="window.open('https://www.facebook.com/','_blank')"/>
                    <img src="~/images/instagram.png"  width="20" onclick=" window.open('https://www.instagram.com/','_blank')"/>
                    <img src="~/images/YouTube.png"  class="ml-1"  width="20" onclick=" window.open('https://www.youtub.com/','_blank')"  />
                @*<button type="button" class="btn btn-primary btn-rounded btn-icon" onclick=" window.open('https://www.facebook.com/LabanGarden/','_blank')">
                    @*<i class="icon-social-facebook"></i>
                </button>*@
                @*<button type="button" class="btn btn-dribbble btn-rounded btn-icon" onclick=" window.open('https://www.instagram.com/laban_garden/','_blank')">
                    <i class="icon-social-instagram"></i>
                </button>*@
                @*<button type="button" class="btn btn-danger btn-rounded btn-icon" onclick=" window.open('https://bit.ly/2WJVsBQ','_blank')">
                    <i class="icon-social-youtube"></i>
                </button>*@

        </span>
        </div>
    </div>
</footer>

