
@{
    ViewData["Title"] = "ChangePassword";
}
<head>
    <style>
        .child {
            background-color: #f0d27f
        }
    </style>
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/API/Alerts.js"></script>
<script src="~/js/API/ApiCalls.js"></script>
<div class="main-panel">
    <div class="content-wrapper">


        <div class="row card card-outline-warning ">
            <div class="card-header card-title header_color text-white">Change Password</div>

            <div class="col-12 grid-margin stretch-card">

                <div class="card-body">

                    <div class="row">


                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card card-outline-warning">
                                <div class="card-header child card-title ">New Security Infomation</div>
                                <div class="card-body">
                                    <form class="forms-sample" id="Pform">
                                        <div class="form-group">
                                            <label><b>Current Password</b></label>
                                            <input type="password" class="form-control  heighttext" id="PASSWORD" placeholder="Password" value="">
                                        </div>
                                        <div class="form-group">
                                            <label><b>New Password</b></label>
                                            <input type="password" class="form-control  heighttext" id="NEWPASSWORD" placeholder="New Password" value="">
                                        </div>
                                        <div class="form-group">
                                            <label><b>Confirm Password</b></label>
                                            <input type="password" class="form-control  heighttext" id="CNEWPASSWORD" placeholder="Confirm New Password" value="">
                                        </div>
                                        <div class=" form-group">
                                            <button class="btn child" type="button" onclick="save(this)"> Save</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
   @*@Html.Partial("footer")*@
    <!-- partial -->
</div>
<script>
    function RefereshForm(ac) {
        document.getElementById('Pform').reset();
    }
    function save(btn) {
        var PASSWORD = document.getElementById("PASSWORD").value;
        var NEWPASSWORD = document.getElementById("NEWPASSWORD").value;
        var CNEWPASSWORD = document.getElementById("CNEWPASSWORD").value;
        if (PASSWORD == '') {
            Alert('error', 'Enter Password');
            document.getElementById('PASSWORD').focus();
        } else if (NEWPASSWORD == '') {
            Alert('error', 'Enter New Password');
            document.getElementById('NEWPASSWORD').focus();
        } else if (CNEWPASSWORD == '') {
            Alert('error', 'Enter New Password');
            document.getElementById('CNEWPASSWORD').focus();
        } else if (CNEWPASSWORD!=NEWPASSWORD) {
            Alert('error', 'Password and confirm Password must be same');

        } else {
            data = {
                "password": PASSWORD,
                "newpassword": NEWPASSWORD
            }
            var apicall = ['ChangePassword', btn, data, "Changed Successfully", RefereshForm, []];
            ConfirmationAlert("Do you want to Change Your Password? ", "Yes", "No", AjaxRecieveResponse, apicall);
        }
    }
</script>
