
@{
    ViewData["Title"] = "ResetPassword";
}
@{ 
    string userId = Context.Request.Query["userId"];
    string token = Context.Request.Query["token"];
}
<script>
    var token = '@token';
    var id = '@userId';
    console.log(token);
    console.log(id);
</script>
@{
    ViewData["Title"] = "ForgotPassword";
}

@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WEBLETSCRIPT</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/AdminTheme/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/AdminTheme/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/AdminTheme/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Alerts/x0popup-master/dist/x0popup.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/AdminTheme/css/style.css" /><!-- End layout styles -->
    <link rel="shortcut icon" href="~/AdminTheme/images/LABANTAB.png" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .header_color {
            background-color: #BF9D40;
            color: white;
            font-weight: 900;
        }

        input, .form-control:focus {
            border-color: #BF9D40;
            background-color: #F7F3E6;
        }

        .content-wrapper {
            background: #FFFFFF;
        }

        .auth .auth-form-light {
            border-bottom-style: dashed;
            border-top-style: dashed;
            border-left-style: dashed;
            border-right-style: dashed;
            height: 600px;
            width: 400px;
            border-color: #BF9D40;
        }
    </style>
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper ">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5" style="margin-left: 60px;">
                            <div class="brand-logo text-center">
                                <img src="~/images/Laban.png">
                                @*<h2>WEBLETSECRIPT</h2>*@
                            </div>
                            @*<h4>Hello! let's get started</h4>
                                <h6 class="font-weight-light">Sign in to continue.</h6>*@
                            <form class="pt-3">
                                <input value="@userId" hidden  id="userId"/>
                                <input value="@token"  hidden id="token"/>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-sm" id="p" placeholder="New Password">
                                    <label class="text-sm-left text-danger mt-2 font-weight-bold" id="perror"></label>
                                </div> 
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-sm" id="cp" placeholder="Confirm New Password">
                                    <label class="text-sm-left text-danger mt-2 font-weight-bold" id="cperror"></label>
                                </div>
                                <p class="text-sm-left text-danger font-weight-bold" id="LogInError"></p>
                                <div class="mt-3">
                                    <button class="btn btn-block header_color btn-lg font-weight-medium auth-form-btn" type="button" onclick="ResetPass(this)">Reset</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    <a href="/Account/Login" class=" " style="color:#BF9D40">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/AdminTheme/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/AdminTheme/js/off-canvas.js"></script>
    <script src="~/AdminTheme/js/misc.js"></script>
    <script src="~/js/API/ApiCalls.js"></script>
    <script src="~/Alerts/x0popup-master/dist/x0popup.min.js"></script>
    <!-- endinject -->
</body>
</html>
<script>
    function ResetPass(btn) {
        btn.disabled = true;
        btn.innerHTML = '<img  src="/images/2.gif" width="20" class=" text-center" height="20"/>';
        var cpassword = $('#cp').val();
        var password = $('#p').val();
        var id = $('#userId').val();
        var token = $('#token').val();
        if (password=='') {
            $('#perror').text('Please enter new password');
            $("#p").css("border", "1px solid red");
            btn.disabled = false;
            btn.innerHTML = 'Reset';
            return;
        }
        else {
            $('#perror').text('');
            $("#p").css("border", "1px solid #e8ecf1");
        }
        if (cpassword == '') {
            $('#cperror').text('Please enter confirm new password');
            $("#cp").css("border", "1px solid red");
            btn.disabled = false;
            btn.innerHTML = 'Reset';
            return;
        }
        else {
            $('#cperror').text('');
            $("#cp").css("border", "1px solid #e8ecf1");
        }
        if (password!=cpassword) {
            $('#LogInError').text('password and confirm Password must be same');
            btn.disabled = false;
            btn.innerHTML = 'Reset';
            return;
        }
        data = {
            "password": password,
            "token": token,
            "id": id
        }
       // var result = AjaxPostCall('POST', '', data).responseJSON;

        $.ajax({
            type: 'POST',
            url: '/Account/ResetPassword',
            data: data,
            success: function (result) {
                if (result.Code == "Success") {
                    Alert('success','Successfuly Reset')
                    window.location.href = "/Account/Login"
                }
                else {
                    $('#LogInError').text(result.Description);
                    btn.disabled = false;
                    btn.innerHTML = 'Reset';
                }
            }
        })

    }
   
</script>


