@{
    Layout = null;
}
@{
    ViewData["Title"] = "Registration";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WEBLETSCRIPT</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/AdminTheme/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/AdminTheme/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/AdminTheme/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Alerts/x0popup-master/dist/x0popup.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/AdminTheme/css/style.css" /><!-- End layout styles -->
    <link rel="shortcut icon" href="~/AdminTheme/images//LABANTAB.png" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
        #RegForm div input, select {
            height: 40px !important;
        }

        input, .form-control:focus {
            border-color: #BF9D40;
            background-color: #F7F3E6;
        }

        .header_color {
            background-color: #BF9D40;
            color: white;
            font-weight: 900;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .content-wrapper {
            background: #f8f9fa;
        }

        .auth .auth-form-light {
            border-bottom-style: dashed;
            border-top-style: dashed;
            border-left-style: dashed;
            border-right-style: dashed;
            height: 700px;
            width: 470px;
            border-color: #BF9D40;
        }
        #RegForm div input, select {
            height: 35px !important;
        }
    </style>
    <script>
        function CNICChnagefunction(input, evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((input.value.length == 5 || input.value.length == 13) && charCode !== 8) {
                input.value = input.value + '-';
            }
        }
        function isnumber(evt, input) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57) || input.value.length > 14) {
                return false;
            }
            return true;
        }

        function isnumer2(evt, input) {
            //evt = (evt) ? evt : window.event;
            //var charCode = (evt.which) ? evt.which : evt.keyCode;
            //if (charCode > 31 && (charCode < 48 || charCode > 57) || input.value.length > 10) {
            //    return false;
            //}
            return true;
        }
        function phonefunc(input, evt) {
            //evt = (evt) ? evt : window.event;
            //var charCode = (evt.which) ? evt.which : evt.keyCode;
            //console.log(input.value);
            //if ((input.value.length == 3) && charCode !== 8) {
            //    input.value = input.value + '-';
            //}
        }

    </script>
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-5 mx-auto">
                        <div class="auth-form-light text-left p-5" style="margin-left: 52px;">
                            <div class="brand-logo text-center">
                                <img src="~/images/Laban.png">
                                @*<h2>WEBLETSECRIPT</h2>
        </div>*@
                                @*<h4>Hello! let's get started</h4>
        <h6 class="font-weight-light">Sign in to continue.</h6>*@
                            <form class="pt-3">
                                <div class="form-group">
                                    <div class="row " id="RegForm">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control heighttext " id="fname" placeholder="Full Name">
                                            <label class="text-sm-left text-danger mt-2 font-weight-bold" id="fnameerror"></label>
                                        </div>

                                        @*<div class="col-sm-12">
                    <input class="form-control heighttext" id="cnic" placeholder="CNIC" onkeydown="CNICChnagefunction(this, event)" onkeypress="return isnumber(event,this)">
                    <label class="text-sm-left text-danger mt-2 font-weight-bold" id="cnicerror"></label>
                </div>*@


                                        <div class="col-sm-4">
                                            @Html.Partial("CountriesCode")
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control " id="mnum" placeholder="Phone" onkeydown="phonefunc(this, event)" onkeypress="return isnumer2(event,this)">
                                            <label class="text-sm-left text-danger mt-2 font-weight-bold" id="mnumerror"></label>

                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control " id="email" placeholder="Email">
                                            <label class="text-sm-left text-danger mt-2 font-weight-bold" id="emailerror"></label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control " id="pwd" placeholder="Password">
                                            <label class="text-sm-left text-danger mt-2 font-weight-bold" id="pwderror"></label>

                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control " id="cpwd" placeholder="Confirm Password">
                                            <label class="text-sm-left text-danger mt-2 font-weight-bold" id="cpwderror"></label>
                                        </div>
                                    </div>

                                </div>
                              
                                <p class="text-sm-left text-danger font-weight-bold" id="SignUpError"></p>
                                <div class="mt-1">
                                    <button class="btn btn-block header_color btn-lg font-weight-medium auth-form-btn" type="button" onclick="SignUp(this)">SIGN UP</button>
                                </div>
                                <p id="waitmsg" style="display:none">Sending confirmation email...</p>
                                <div class="text-center mt-4 font-weight-light">
                                    Already have an account Then? <a href="/Account/Login" class=" " style="color:#BF9D40">Log In</a>
                                </div>
                            </form>
                            </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/AdminTheme/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/AdminTheme/js/off-canvas.js"></script>
    <script src="~/AdminTheme/js/misc.js"></script>
    <script src="~/js/API/ApiCalls.js"></script>
    <script src="~/Alerts/x0popup-master/dist/x0popup.min.js"></script>
    <!-- endinject -->
</body>
</html>
<script>
    function SignUp(btn) {
        btn.disabled = true;
        btn.innerHTML = '<img  src="/images/2.gif" style="width:20px;"  class=" text-center" height="20"/>';
        var email = $('#email').val();
        var password = $('#pwd').val();
        var cpassword = $('#cpwd').val();
        //var cnic = $('#cnic').val();
        var mnum = $('#mnum').val();
        var fname = $('#fname').val();
        if (fname=='') {
            $('#fnameerror').text('Please enter Full Name');
            $("#fname").css("border", "1px solid red");
            btn.disabled = false;
            btn.innerHTML = 'SIGN UP';
            return;
        }
        else {
            $('#fnameerror').text('');
            $("#fname").css("border", "1px solid #e8ecf1");
        }
        //if (cnic == '') {
        //    $('#cnicerror').text('Please enter CNIC');
        //    $("#cnic").css("border", "1px solid red");
        //    btn.disabled = false;
        //    btn.innerHTML = 'SIGN UP';
        //    return;
        //}
        //else {
        //    $('#cnicerror').text('');
        //    $("#cnic").css("border", "1px solid #e8ecf1");
        //}
        if (mnum == '') {
            $('#mnumerror').text('Please enter Mobile Number');
            $("#mnum").css("border", "1px solid red");
            btn.disabled = false;
            btn.innerHTML = 'SIGN UP';
            return ;
        }
        else {
            $('#mnumerror').text('');
            $("#mnum").css("border", "1px solid #e8ecf1");
        }
        if (email == '') {
            $('#emailerror').text('Please enter Email');
            $("#email").css("border", "1px solid red");
            btn.disabled = false;
            btn.innerHTML = 'SIGN UP';
            return ;
        }
        else {
            $('#emailerror').text('');
            $("#email").css("border", "1px solid #e8ecf1");
        }
        if (ValidateEmail(email)) {
            $('#emailerror').text('');
            $("#email").css("border", "1px solid #e8ecf1");
        }
        else {
            $('#emailerror').text('Please enter valid email');
            $("#email").css("border", "1px solid red");
            btn.disabled = false;
            btn.innerHTML = 'SIGN UP';
            return;
        }
        if (password == '') {
            $('#pwderror').text('Please enter Password');
            $("#pwd").css("border", "1px solid red");
            btn.disabled = false;
            btn.innerHTML = 'SIGN UP';
            return ;
        }
        else {
            $('#pwderror').text('');
            $("#pwd").css("border", "1px solid #e8ecf1");
        }
        if (cpassword == '') {
            $('#cpwderror').text('Please enter Password');
            $("#cpwd").css("border", "1px solid red");
            btn.disabled = false;
            btn.innerHTML = 'SIGN UP';
            return ;
        }
        else {
            $('#cpwderror').text('');
            $("#cpwd").css("border", "1px solid #e8ecf1");
        }
        if (password!=cpassword) {
            $('#cpwderror').text('Password and Confirm Password must be same');
            btn.disabled = false;
            btn.innerHTML = 'SIGN UP';
            return;
        }
       
        data = { 
            "FULL_NAME": fname,
            //"CNIC": cnic,
            "MOBILE": mnum,
            "EMAIL": email,
            "Password":password
        }
        $.ajax({
            type: 'POST',
            url: '/Account/UserRegistradtion',
            data: data,
            success: function (result) {
                console.log(result);
                if (result.Code == "Success") {
                    //Successfuly Signed Up
                    Alert('success', 'Pleace confirm Your Email')
                    document.getElementById('waitmsg').style.display = 'block';
                    SendConfirmationEmail(email);
                   setTimeout(function () {
                       window.location.href = result.RedirectUrl
                   }, 3000);
                }
                else {

                    $('#SignUpError').text(result.Description);
                    btn.disabled = false;
                    btn.innerHTML = 'SIGN UP';
                }
            }
        })

    }
    function SendConfirmationEmail(email) {
        data = {
            "email": email
        }
        $.ajax({
            type: 'POST',
            url: '/Account/SendConfirmationEmail',
            data: data,
            success: function (result) {
            }
        })
    }
    
    function ValidateEmail(inputText)
    {
      var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      if(!regex.test(inputText)) {
        return false;
      }
      else {
        return true;
      }
    }
</script>